__pycache__/
*.py[cod]
.venv/
.DS_Store
.idea/
build/
dist/
*.egg-info/
outputs/
checkpoints/
wandb/
_vizdoom.ini


# Examples still in local development
/examples/bayes_net/
/examples/doom/
/examples/sql/
config.bat
node_modules
